/*
Help
*/
body{
    box-sizing: border-box;
}
/*Help title*/

.help__title{
    width: 447.805px;
    margin: auto;
}

.help__title p{
    margin-top: 150px;
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}
.help__desc{
    margin: auto;
}
.help__desc p{
    margin-top: 20px;
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/*
Carousel
*/
.section-six__page1 {
    height: 230px !important;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px 10px;
    margin-left: 20px;
}

.section-six__page1 .section-six__page1in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-six__page1 p {
    margin-top: 40px;
    line-height: 25px;
}

.slick-dots button {
    font-size: 0;
    background-color: #FFF;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
}


.slick-dots .slick-active button {
    width: 45px;
    height: 15px;
    background-color: #F53838;
}

.slick-prev.pull-left, .slick-next.pull-right {
    border: 1px solid #F53838;
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    color: #F53838;
}

.slick-prev.pull-left img, .slick-next.pull-right img {
    color: #F53838;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.slick-next.pull-right img {
    transform: rotate(180deg);
}

.section-six__page slick-initialized slick-slider slick-dotted {
    position: relative;
}

.slick-next.pull-right {
    position: absolute;
    right: 80px;
    bottom: -80px;
}

.slick-prev.pull-left {
    position: absolute;
    right: 150px;
    bottom: -80px;
}

.slick-dots {
    display: flex;
    list-style: none;
    gap: 15px;
    position: absolute;
    bottom: -60px;
    left: 30px;
}
.section-six__page1.slick-slide.slick-current.slick-active{
    border: 2px solid #F53838;
}

/*
Reponsive
*/

@media screen and (max-width: 767px){
    .help__title{
        width: 90vw;
        margin: auto;
    }
    .help__title p{
        margin: auto;
    }
    .help__desc{
        width: 80vw;
        margin:20px auto;

    }
    .help__desc p{
        margin: auto;
        font-size: 14px;
        line-height: 20px;
    }
    .section-six__page1{
        margin: 20px;
    }

}
